@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/vars.scss';

.About{
  // @include border();
  width: 100vw;
  max-width: 100vw;
  & .About__hero-container{
    // @include border();
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
    @include flexbox-basic();

    & img{
      // @include border();
      width: 100%;
      height: 600px;
      object-fit: cover;
      filter: opacity(80%);
    }
    & div{
      // @include border();
      position: absolute;
      color: rgb(255, 255, 255);
      & h1{
        font-size: 32px;
        font-family: $font-oswald;
        margin: 0;

      }
      & p{
        font-size: 16px;
        font-family: $font-lato;
        font-weight: bold;
      }
    }

  }
  & .About__content{
    // @include border();
    @include flexbox-basic();
    width: 100%;
    & .About__contendt-grid{
      // @include border();
      width: 90%;
      padding: 100px 0;
      display: grid;
      grid-template-columns: repeat(2,50%);
      grid-template-rows: auto;

      & > div:nth-of-type(1){
        // @include border();
        grid-row: 1/2;
        grid-column: 1/2;
        @include flexbox-basic();
        & img{
          width: 80%;
        }
      }
      & > div:nth-of-type(2){
        grid-column: 2/3;
        grid-row: 1/2;
        & h1{
          font-size: 35px;
          font-weight: 600;
          font-family: $font-oswald;
        }
        & p{
          font-size: 16px;
          font-weight: 500;
          font-family: $font-lato;
        }
      }
    }
  }
}