@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/vars.scss';

.Home{
  // @include border(blue);
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;

  & .Home__dark{
    // @include border();
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: black;
    position: relative;

    & .Home__dark-logo{
      width: 100px;
      height: 100px;
      margin: 35px auto;
      & img{
        width: 100%;
        height: 100%;
      }
    }

    & .Home__dark-details{
      // @include border(white);
      position: absolute;
      width: 200%;
      top: 50%;
      left: 10%;
      z-index: 2;
      animation-duration: 500ms;
      animation-name: homeDetailsDarkIn;
      animation-timing-function: ease-out;
      
      @keyframes homeDetailsDarkIn{
        0%{
          left: -250%;
        }
        100%{
          left: 10%;
        }
      }

      & > h1{
        // @include border(red);
        // transform: translateX(10px);
        color: white;
        font-size: 2.8rem;
        font-family: $font-oswald;
        font-weight: 400;
        margin: 0;
        letter-spacing: 7px;
        margin-bottom: 50px;
        text-shadow: 4px 2px 3px rgba(150, 150, 150, 1);      }
        & .Home__dark-details-options{
        // @include border(blue);
        width: 60%;
        display: grid;
        grid-template-columns: 100%;
        // margin-top: 20px;
        & > div{
          @include border(white);
          text-align: center;
          padding: 15px 0;
          cursor: pointer;
          font-family: $font-oswald;
          font-weight: 400;
        }
        & > div:nth-of-type(1){
          background-color: white;
          color: black;
          letter-spacing: 1.5px;
          & a{
            text-decoration: none;
            color: rgb(0, 0, 0);
          }
        }
      }

    }
  }

  & .Home__hero{
    // @include border();
    grid-column: 2/3;
    grid-row: 1/2;
    & .Home__hero-carrousel{
      // @include border(blue);
      width: 100%;
      height: 100%;
      background-color: rgb(141, 133, 133);
      overflow-y: hidden;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
  }
}


@media screen and (max-width: 1100px){
  .Home{
    height: 100vh;
    grid-template-columns: 100vw;
    grid-template-rows: 55% 45%;
    overflow: hidden;
    
    & .Home__dark{
      grid-column: 1/2;
      grid-row: 2/3;
      align-content: center;

      & .Home__dark-logo{
        margin: 20px auto;

      }

      & .Home__dark-details{
        // border: 1px solid red;
        position: static;
        margin: 0 auto;
        width: 100%;
        animation-duration: 850ms;
        animation-timing-function: ease-out;
        animation-name: homeDarkDetailsMobileIn;

        @keyframes homeDarkDetailsMobileIn{
          0%{
            transform: translateX(-100%);
          }
          100%{
            transform: translateX(0%);
          }
        }
        & h1{
          font-size: 1.5rem;
          text-align: center;
          margin: 0;
          margin-bottom: 10px;
          margin-left: 20px;
        }

        & .Home__dark-details-options{
          width: 35%;
          margin: 0 auto;

        }
      }
    }
    & .Home__hero{
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}

@media screen and (max-width: 550px){
  .Home{

    & .Home__dark{
      & .Home__dark-details{
        & h1{
          font-size: 1.3rem;
        }

        & .Home__dark-details-options{
          width: 65%;
        }
      }
    }

  }
}