@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/vars.scss';

.Home{
  // @include border(blue);
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;

  & .Home__interior{
    // @include border(rgb(15, 236, 8));
    // background-color: white;
    position: absolute;
    width: 350px;
    height: 200px;
    right: 5%;
    bottom: 10%;
    z-index: 5;
    @include flexbox-basic(flex-start);

    & .Home__interior-img{
      // @include border(red);
      width: 70%;
      height: 100%;
      @include flexbox-basic(flex-start);
      overflow: hidden;
      scroll-behavior: smooth;
      & img{
        width: 100%;
        height: 100%;
      }

    }

    & .Home__interior-row{
      // @include border(blue);
      width: 30%;
      height: 100%;
      background-color: white;
      @include flexbox-basic();
      & span{
        cursor: pointer;
        filter: invert(100%);
        &:hover{
          transform: scale(0.8);
        }
        &:active{
          transform: scale(1.8);
          transition-duration: 450ms;
        }
      }
    }
  }

  & .Home__description{
    // border: 1px solid red;
    position: absolute;
    width: 350px;
    height: auto;
    right: 5%;
    bottom: 40%;
    z-index: 5;

    & p{
      color: white;
      line-height: 20px;
      letter-spacing: 1px;
      font-family: $font-lato;
      font-weight: 400;
    }
  }

  & .Home__dark{
    // @include border();
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: black;
    position: relative;

    & .Home__dark-logo{
      width: 100px;
      height: 100px;
      margin: 35px auto;
      & img{
        width: 100%;
        height: 100%;
      }
    }

    & .Home__dark-details{
      // @include border(white);
      position: absolute;
      width: 200%;
      top: 50%;
      left: 10%;
      z-index: 2;

      & > h1{
        // @include border(red);
        color: white;
        font-size: 2.8rem;
        font-family: $font-oswald;
        font-weight: 400;
        margin: 0;
        letter-spacing: 7px;
        margin-bottom: 50px;
      }
      & .Home__dark-details-options{
        // @include border(blue);
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2,50%);
        & > div{
          @include border(white);
          text-align: center;
          padding: 15px 0;
          cursor: pointer;
          font-family: $font-oswald;
          font-weight: 400;
        }
        & > div:nth-of-type(1){
          background-color: white;
          color: black;
          letter-spacing: 1.5px;
          & a{
            text-decoration: none;
            color: rgb(0, 0, 0);
          }
        }
        & > div:nth-of-type(2){
          color: white;
        }
      }

    }
  }

  & .Home__hero{
    // @include border();
    grid-column: 2/3;
    grid-row: 1/2;
    & .Home__hero-carrousel{
      // @include border(blue);
      width: 100%;
      height: 100%;
      background-color: rgb(141, 133, 133);
      overflow-y: hidden;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
  }
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all .35s ease-Out;
  color: white;
  text-decoration: none;
}

#slide {
  width: 100%;
  height: 100%;
  left: -100%;
  background: #BFC0C0;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover a {
  color: #000000;
}

@media screen and (max-width: 1272px){
  .Home{
    & .Home__interior{
      right: 1%;
      width: 320px;

      & .Home__interior-img{
        width: 80%;
      }
      & .Home__interior-row{
        width: 20%;
      }
    }

    & .Home__description{
      right: 1%;
    }
  }
}

@media screen and (max-width: 1100px){
  .Home{
    // border: 1px solid red;
    height: 100vh;
    grid-template-columns: 100vw;
    grid-template-rows: 70% 30%;
    overflow: hidden;

    & .Home__interior{
      right: 1%;
      bottom: 5%;
      width: 200px;
      flex-direction: column;
      & .Home__interior-img{
        width: 100%;
        height: 80%;
      }

      & .Home__interior-row{
        width: 100%;
        height: 20%;
      }
    }

    & .Home__description{
      right: 1%;
      top: 20%;
      width: 300px;
      bottom: auto;
    }

    & .Home__dark{
      grid-column: 1/2;
      grid-row: 2/3;

      & .Home__dark-logo{
        margin: 10px 20px;
      }

      & .Home__dark-details{
        // border: 1px solid red;
        position: static;
        margin: 0 auto;
        width: 100%;
        & h1{
          font-size: 1.5rem;
          // text-align: center;
          margin: 0;
          margin-bottom: 10px;
          margin-left: 20px;
        }

        & .Home__dark-details-options{
          width: 35%;
          margin: 0 20px;
          margin-bottom: 20px;
        }
      }
    }

    & .Home__hero{
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}

@media screen and (max-width: 550px){
  .Home{
    grid-template-rows: 55% 45%;
    & .Home__interior{
      display: none;
    }

    & .Home__description{
      display: none;
    }

    & .Home__dark{

      & .Home__dark-logo{
        margin: 10px auto;
      }

      & .Home__dark-details{
        & h1{
          font-size: 1.3rem;
          text-align: center;
        }

        & .Home__dark-details-options{
          width: 65%;
          margin: 0 auto;
        }
      }
    }

  }
}