@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/vars.scss';

.AboutWhitSliderDetails{
  // @include border();
  width: 90%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 100%;
  padding: 50px 5%;

  & .AboutWhitSliderDetails__detailsDescription{
    // @include border();
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5% 10%;
    & h2{
      font-size: 2rem;
      font-weight: bold;
    }
    & p{
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }
  
  & .AboutWhitSliderDetails__img{
    // @include border();
    grid-column: 2/3;
    grid-row: 1/2;

    & img{
      width: 100%;
      height: 100%;
    }
  }
}