@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/vars.scss';

.AboutWhitSliderDetails{
  // @include border();
  width: 90%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 100%;
  padding: 50px 5%;

  & .AboutWhitSliderDetails__detailsDescription{
    // @include border();
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5% 10%;
    & h2{
      font-size: 2rem;
      font-weight: bold;
      font-family: $font-oswald;
    }
    & p{
      font-size: 1.5rem;
      letter-spacing: 2px;
      font-family: $font-lato;
      line-height: 33px;
    }

    & .AboutWhitSliderDetails__detailsDescription-dots{
      // @include border();
      width: 100%;
      height: 20px;
      @include flexbox-basic();
      & div{
        @include border(black);
        width: 20px;
        height: 100%;
        margin-right: 10px;
        border-radius: 50%;
        cursor: pointer;
      }
      & div:nth-of-type(1){
        background-color: rgb(156, 156, 156);
      }
    }
  }
  
  & .AboutWhitSliderDetails__img{
    // @include border(blue);
    grid-column: 2/3;
    grid-row: 1/2;
    @include flexbox-basic(flex-start);
    scroll-behavior: smooth;
    overflow-x: hidden;
    & img{
      min-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1000px){
  .AboutWhitSliderDetails{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    & .AboutWhitSliderDetails__detailsDescription{
      grid-row: 1/2;
      grid-column: 1/2;
    }

    & .AboutWhitSliderDetails__img{
      grid-row: 2/3;
      grid-column: 1/2;
    }
  }
}