@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/vars.scss';

.CarrouselHome{
  width: 300%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  @include flexbox-basic(flex-start);
  & .CarrouselHome__bg{
    width: 33.3%;
    height: 100%;
    filter: opacity(50%);  
    object-fit: cover;
  }

  & .CarrouselHome__arrow{
    // border: 1px solid red;
    width: 150px;
    height: 100px;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 25%;
    @include flexbox-basic();
    & span{
      // @include border(red);
      color: white;
      cursor: pointer;
      margin: 0px 15px;
      font-size: 2rem;
      &:hover{
        transform: scale(0.8);
      }
      &:active{
        transform: scale(1.8);
        transition: 500ms;
      }
    }
  }

  & .CarrouselHome__dots{
    // @include border(white);
    width: 150px;
    height: 100px;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: calc(53%);
    @include flexbox-basic();
    flex-wrap: wrap;
    & div{
      width: 45px;
      height: 4px;
      border-radius: 15px;
      background-color: white;
      margin-right: 5px;
      cursor: not-allowed;
    }
    & div:nth-of-type(1){
      background-color: red;
      height: 6px;
    }
  }
}


@media screen and (max-width: 1100px){
  .CarrouselHome{
    & .CarrouselHome__bg{
      object-fit: cover;
    }

    & .CarrouselHome__arrow{
      bottom: auto;
      top: 50px;
      left: calc(50% - 75px);
    }

    & .CarrouselHome__dots{
      bottom: auto;
      top: 60vh;
      left: calc(50% - 75px);
    }
  }
}

@media screen and (max-width: 550px){
  .CarrouselHome{

    & .CarrouselHome__arrow{
      // top: 10vh;
    }

    & .CarrouselHome__dots{
      top: 40vh;
    }
  }
}
