@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/vars.scss';

// animaciones a menu 
// footer

.Navbar{
  // @include border();
  width: 100vw;
  height: 120px;
  @include flexbox-basic(flex-end);
  position: fixed;
  z-index: 1;
  
}

.NavbarWrapper{
  // @include border(blue);
  width: 80%;
  height: 90px;
  font-family: $font-oswald;
  font-weight: 400;
  & .menuMobile{
    display: none;
  }
  & .menuMobileContent{
    display: none;    
  }
  
  & .NavbarWrapper__contactButton{
    // @include border(white);
    position: absolute;
    right: 5%;
    top: 40px;
    z-index: 10;
    & *{
      font-size: 15px;
    }
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 45px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  color: white;
}

#menuToggle a {
  text-decoration: none;
  color: #fff;
  padding: 10px ;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
	color: #8a8a8a;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 26px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  // @include border(red);
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 55px;
  margin-left: 20px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 0; 
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 17px;
  text-shadow: 0px 0px 10px rgb(0, 0, 0) !important;      

  line-height: 60px;
  
  
  &:nth-child(3){
    padding: 0 10px;
  }
  &:hover{
    background-color: #191919; 
    
  }
  & a{
    font-size: 17px;
    text-shadow: 0px 0px 10px rgb(0, 0, 0) !important;
  }
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menuDesk a {
	color:#FFF;
	line-height: 60px;
  text-decoration:none;
  
}


#menuDesk ul li:nth-of-type(3){
  position: relative;
}

#menuDesk ul ul {
	display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  padding: 0;
  background: #191919;
}
	
/* Display Dropdowns on Hover */
#menuDesk ul li:hover > ul {
	display:inherit; 
}

#menu li .submenu { 
  // @include border();
  width: 200px;
  top: 45px;

  }
  #menu .submenu li {
    // @include border();
    // display: block !important;
    height: auto;
    line-height: 0px;
    position: static  !important;
    @include flexbox-basic();
    &:nth-of-type(3){
      padding: 0;
    }
    & a {
      // @include border();
      width: 100%;
      line-height: 35px;
      padding: 0;
      position: static !important;
      &:hover{
        background-color: transparent;
      }
    }
  }

@media (max-width: 1100px){

  #menu{
    padding-top: 20px;
    left: 50px;
    padding: 0;
    margin: 0;
    top: -28px;
  }
  #menuToggle{
    top: 30px;
  }

  
  #menuDesk ul ul {
    top: 40px;
  }
}



#button-n {
  @include border(white);
  @include flexbox-basic();
  width: 200px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 50px;
  text-align: center;
}

#button-n a{
  // @include border(blue);
  font-family: $font-oswald;
  font-weight: 400;
  color: white;
  text-decoration: none;
  position: relative;
  transition: all .35s ease-Out;
}

#slideN {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #BFC0C0;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-n:hover #slideN{
  left: 0;
}

#button-n:hover a {
  color: #000000;
}

@media screen and (max-width: 1100px){
  .Navbar{
    & .NavbarWrapper{
      width: 100%;
      & *{
        font-size: 17px;
      }

      #menu li{
        font-size: 17px;
      }

      & #menuToggle a{
        padding: 0;
      }
    }
  }

  .NavbarWrapper .NavbarWrapper__contactButton{
    top: 20px;
    & #button-n{
      width: 125px;
      & a{
        & span{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 750px){

  .ham {
    color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:rgb(255, 255, 255);
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }

  #menuToggle{
    display: none;
  }

  .Navbar{
    & .NavbarWrapper{
      & .menuMobile{
        // @include border();
        display: block;
        position: fixed;
        width: 50px;
        height: 50px;
        z-index: 1;
        top: 10px;
        left: 10px;
        cursor: pointer;
        & img{
          width: 100%;
          height: 100%;
        }

        

        & .menuMobileContent{
          // @include border();
          display: block;
          position: fixed;
          width: calc(100%);
          height: auto;
          z-index: -1;
          top: 0px;
          left: -100%;
          cursor: pointer;
          background-color: #191919;
          @include flexbox-basic();
          & ul{
            & *{
              all: initial;
              color: white;
            }
            // @include border();
            list-style: none;
            margin-top: 80px;
            width: 80%;
            padding: 0;
            & li{
              // @include border();
              // @include flexbox-basic();
              cursor: pointer;
              margin: 0;
              padding: 0;
              color: white;
              height: 50px;
              display: block;
              height: auto;
              line-height: 30px;
              font-size: 1rem;
              font-family: $font-oswald;
              & a{
                font-family: $font-oswald;
                font-size: 1rem;
                margin: 0;
                padding: 0;
                cursor: pointer;
              }

              & ul{
                display: none;
                & li a{
                  cursor: pointer;
                }
              }
              &:hover:nth-of-type(3) ul{
                display: block;
                list-style: disc;
                margin-left: 20px;
              }
            }
          }
        }
        

        & .menuMobileContentActive{
          transition-duration: 450ms;
          transform: translateX(100%);
        }
      }
    }
  }

}