@import '../../assets/styles/mixins.scss';

.WhatsApp{
  // @include border();
  width: 55px;
  height: 55px;
  position: fixed;
  right: 25px;
  bottom: 10vh;
  @include flexbox-basic();
  padding: 5px;
  border-radius: 50%;
  background-color: #25d366;
  &:hover{
    transform: scale(0.8);
    transition-duration: 300ms;
  }
  & a{
    & svg{
      font-size: 2rem;
      color: white;
    }
  }
  
}