@mixin border($color:red){
  border: 1px solid $color;
}

@mixin flexbox-basic(
  $justifyContent: center,
  $alignItems: center,
  $flexDirection: row
){
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}